* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:lightpink;


}

#main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(37, 23, 72);
    height: 600px;
    width: 1000px;



}

#head-container {

    height: 350px;
    width: 600px;
    background-color: rgb(51, 2, 97);
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    border: 2px solid gray;
    border-radius: 10px;


}

.img-box {

    display: flex;

    align-items: center;
    background-color: rgb(236, 66, 94);
    height: 100px;
    width: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.img-container {

    display: flex;
    margin-left: 5%;


}

.img1 {
    height: 70px;
    width: 70px;
    border: 2px solid white;

    border-radius: 30px;

}

.message-box {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap: 2rem;
}

.text-container {

    display: flex;
    flex-direction: column;
    margin-left: 5%;
    color: white;

}

.text-message {

    width: 300px;

    background-color: rgb(7, 63, 128);
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    gap: 0.5rem;
    border-radius: 10px;



}

.input-text {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color: black;

}

.in-text {
    font-size: 20px;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: rgb(46, 50, 73);
    text-decoration: none;


}

.fa-solid {

    color: rgb(236, 66, 94);
    font-size: 60px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50%;
}